<!DOCTYPE html>
<html>
  <head>
    <title>Realtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/nav" %>
    <div class="container">
      <%= yield %>
    </div>
    <p class="notice fixed-bottom"><%= notice %></p>
    <p class="alert fixed-bottom"><%= alert %></p>
  </body>
</html>
